# Ignore everything in the root folder
/*
/fixchat/.vscode
# But not these files...
!.gitignore

# Include fixchat directory and specific files within it
!/fixchat
!/fixchat/fixchat.lua
!/fixchat/fixchat.toc
